extends ./_layout/_page.pug

block vars
  -
    var page = data.pages.index

block contentFixedBefore

block contentStatic

  p.u-ta-c.u-mt-50.u-mb-50
    a(href=`${page.path}cursor/`).c-btn-nl.u-c-white-nl.u-bg-black-nl.u-h-o
      |Cursor
  p.u-ta-c.u-mt-50.u-mb-50
    a(href=`${page.path}lightbox/`).c-btn-nl.u-c-white-nl.u-bg-black-nl.u-h-o
      |Lightbox
  p.u-ta-c.u-mt-50.u-mb-50
    a(href=`${page.path}slider/`).c-btn-nl.u-c-white-nl.u-bg-black-nl.u-h-o
      |Slider
  p.u-ta-c.u-mt-50.u-mb-50
    a(href=`${page.path}modal/`).c-btn-nl.u-c-white-nl.u-bg-black-nl.u-h-o
      |Modal
  p.u-ta-c.u-mt-50.u-mb-50
    a(href=`${page.path}chart/`).c-btn-nl.u-c-white-nl.u-bg-black-nl.u-h-o
      |Chart
  p.u-ta-c.u-mt-50.u-mb-50
    a(href=`${page.path}scrollhint/`).c-btn-nl.u-c-white-nl.u-bg-black-nl.u-h-o
      |Scroll Hint
  p.u-ta-c.u-mt-50.u-mb-50
    a(href=`${page.path}scrollbar/`).c-btn-nl.u-c-white-nl.u-bg-black-nl.u-h-o
      |Scroll Bar

block contentFixedAfter
