extends ../_layout/_page.pug

block vars
  -
    var page = data.pages.cursor.index

block contentFixedBefore

block contentStatic

  +heading([page])

  .l-contents-bg.l-contents-bg--sheet
    .l-contents-in.c-flex-ct.c-flex--hr-between-ct
      section.p-box-nl
        h2.c-title-nl.u-ff-en
          |WORKS
        a(href=`${page.path}`).u-mt-30.u-mt-sp-30.c-img-zoom.c-img-w.u-d-b
          +picture(`${page.path}assets/images/cursor/img01.jpg`,`WORKS`,null,520,350,"lazy")
            +source(`${page.path}assets/images/cursor/img01.webp`,null,webp)
        p.u-mt-30.u-mt-sp-30.u-fz-sp-16
          |制作実績を紹介します。
        p.u-mt-30.u-mt-sp-30
          a(href=`${page.path}`).c-btn-nl.u-ff-en.u-fw-bold.u-c-white-nl.u-bg-black-nl.u-fz-12.u-fz-sp-11.u-ls-sm
            |READ MORE

      section.p-box-nl.u-mt-sp-40
        h2.c-title-nl.u-ff-en
          |CULTURE
        a(href=`${page.path}`).u-mt-30.u-mt-sp-30.c-img-zoom.c-img-w.u-d-b
          +picture(`${page.path}assets/images/cursor/img02.jpg`,`CULTURE`,null,520,350,"lazy")
            +source(`${page.path}assets/images/cursor/img02.webp`,null,webp)
        p.u-mt-30.u-mt-sp-30.u-fz-sp-16
          |社内文化について紹介します。
        p.u-mt-30.u-mt-sp-30
          a(href=`${page.path}`).c-btn-nl.u-ff-en.u-fw-bold.u-c-white-nl.u-bg-black-nl.u-fz-12.u-fz-sp-11.u-ls-sm
            |READ MORE

block contentFixedAfter