<%
  path = function(fileName) {
    var depth = filename.replace(/\\/g, '/').split('src')[1].split('/').length - 2;
    var path = depth > 0 ? '../'.repeat(depth) : './';
    if ( fileName !== undefined ) {
      path += fileName;
    }
    return path;
  };
%>

<% var data = json; %>

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="format-detection" content="telephone=no">
  <title><%= data.pages[page].title %></title>
  <meta name="description" content="<%= data.pages[page].description || data.meta.description %>">
  <style>
    .l-page {
      visibility: hidden;
      opacity: 0;
    }
  </style>
  <link rel="preload" href="<%= path(); %>assets/css/main.css" as="style">
  <link rel="stylesheet" href="<%= path(); %>assets/css/main.css" media="print" onload="this.media='all'">
  <!-- <link rel="stylesheet" href="<%= path(); %>assets/css/main.css"> -->
</head>

<body>